.footer-Section {
  display: flex;
  flex-direction: column;
}

.footer-Section a {
  text-decoration: none !important;
}

.footer-Social-Links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 345px;
  margin: auto;
}

.footer-Social-Links i {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  color: white;
}

.footer-Social-Links i:hover {
  color: #fc8c8c;
  font-weight: bolder;
}

.copyright {
  text-align: center;
  font-family: "Gayathri", sans-serif;
}

.footer-home {
  border: 2px solid grey;
  height: 40px;
  width: 45px;
  margin: auto;
  margin-top: -28px;
  display: flex;
  flex-direction: column;
  background: rgb(219, 95, 95);
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 8px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .footer-home {
    margin-top:  -69px;  /* 😉 */
  }
}

.footer-home:hover {
  border: 2px solid grey;
  background: #f00;
  color: white;
  cursor: pointer;
}

.footer-home i {
  font-size: 17px;
}
